{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Login</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/themify-icons/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "vendors/flag-icon-css/css/flag-icon.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/selectFX/css/cs-skin-elastic.css" %}">
    <link rel="stylesheet" href="{% static "vendors/jqvmap/dist/jqvmap.min.css" %}">

    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand"   href="./"><img src="{% static "images/dash.png" %}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="{% static "images/dashb.png" %}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href=""> <i class="menu-icon fa fa-dashboard"></i>Home </a>
                    </li>
                  <!--   <h3 class="menu-title">UI elements</h3> --><!-- /.menu-title -->
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-star"></i>Popular</a>
                    </li>
                    
                    <li class>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-spinner"></i>Upcoming</a>
                    </li>
                    <li class>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bell"></i>This Week</a>
                    </li>


                    <h3 class="menu-title">Get Started</h3><!-- /.menu-title -->

                    <li >
                        <a href="{% url 'logout' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Login</a>
                    </li>

            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

            
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <!-- <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span> -->
                                <span class="message media-body">
                                    <span class="name float-left">Lance Dsilva</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, you are sleted for hackathon</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <!-- <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span> -->
                                <span class="message media-body">
                                    <span class="name float-left">Novia Dsilva</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Hello, you are sleted for hackathon</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <!-- <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span> -->
                                <span class="message media-body">
                                    <span class="name float-left">Karishma Potdukhe</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, you are sleted for hackathon</p>
                                </span>
                            </a>
                                
                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>Guest</p>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                           

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1> Login</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content">
                    <div class="login-form">
                        <form action="/stuLogin" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember Me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                            <p>Don't have account ? <a href="{% url 'resignup' %}"> Sign Up Here</a></p>
                            <div class="register-link m-t-15 text-center">
                                {% if messages %}
                                <p>
                                    {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                    <div class="alert alert-danger" style="margin-top: 10px;">{{message}}</div>
                                    {% endif %}
                                    {% endfor %}
                                </p>
                                {% endif %}
                            </div>
                        </form> 
                            
                    </div>
                </div>
            </div>
        </div>

          

    

         <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "vendors/popper.js/dist/umd/popper.min.js" %}"></script>

        <script src=""{% static "vendors/jquery-validation/dist/jquery.validate.min.js" %}"></script>
        <script src=""{% static "vendors/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" %}"></script>

        <script src=""{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src=""{% static "assets/js/main.js" %}"></script>
</body>
</html>
